*
## folders
!*/
!/src/**/*.ts
!/docs/**
!/icons/**
!/bash/**
## files
!/package.json
!/package-lock.json
!/tsconfig.json
!/.vscode/launch.json
!/.vscode/tasks.json
!/data/times.json
!/data/songs.json
!.gitignore
!.gitattributes
!/README.md