*
!.gitignore
!README.md
!/src/
!/src/**
!/docs/
!/docs/**
!/icons/
!/icons/**
!package.json
!package-lock.json
!tsconfig.json
!/.vscode/
!/.vscode/**
!/bash/
!/bash/**
!/data/
!/data/times.json
!/data/songs.json